@import "~styles/breakpoints.module.scss";

.content {
  position: relative;
  padding: 2.5rem 0;
}

.grid {
  display: grid;
  flex-wrap: wrap;

  @media only screen and (min-width: $small-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $large-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridItem {
  width: 100%;
  position: relative;
  padding-bottom: 50%;

  &Content {
    position: absolute;
    inset: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
