@import "~styles/breakpoints.module.scss";

$BREAKPOINT: $small-desktop;

.content {
  @media only screen and (min-width: $BREAKPOINT) {
    width: 50%;
  }
}

.links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;

  @media only screen and (min-width: $BREAKPOINT) {
    margin-top: 2rem;
  }
}
