$giant: 2200px;
$large-desktop: 1600px;
$desktop: 1340px;
$small-desktop: 1260px;
$large-tablet: 1025px;
$tablet: 769px;
$small-tablet: 660px;
$large-mobile: 500px;
$mobile: 400px;
$small-mobile: 340px;

:export {
  giant: $giant;
  large-desktop: $large-desktop;
  desktop: $desktop;
  small-desktop: $small-desktop;
  large-tablet: $large-tablet;
  tablet: $tablet;
  small-tablet: $small-tablet;
  large-mobile: $large-mobile;
  mobile: $mobile;
  small-mobile: $small-mobile;
}