@import "~styles/breakpoints.module.scss";

.container {
  border-top: 1px solid var(--color-black-40);

  &.removeTopBorder {
    border-top: none;
  }
}

.border {
  height: 1px;
  background: var(--color-black-40);
  width: 0;
  transition: width 1s;

  &Visible {
    width: 100%;
  }
}

.leftColumn,
.rightColumn {
  grid-column: 1/-1;
}

@media only screen and (min-width: $small-tablet) {
  .leftColumn {
    grid-column: 1/4;
  }
  .rightColumn {
    grid-column: 4/-1;
  }
}

@media only screen and (min-width: $small-desktop) {
  .leftColumn {
    grid-column: 1/5;
  }
  .rightColumn {
    grid-column: 5/-1;
  }
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.linkTags {
  display: flex;
  gap: 6px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $small-tablet) {
    margin-bottom: 1rem;
  }
}
