.gridItem {
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  transition: transform 0.2s;

  button {
    text-align: left;
  }

  &Content {
    position: absolute;
    inset: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: translateY(-10px);
    }
  }
}
