.container {
  max-width: 800px;
  margin: auto;
}

.form {
  border: 1px solid var(--color-black);
  padding: 2rem;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}
