.title {
  margin-bottom: 0.5rem;
}

.info {
  color: var(--color-black-40);
  margin-bottom: 1rem;
}

.formSection {
  margin-bottom: 1rem;
  border-top: 1px solid var(--color-black-40);
  padding-top: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.textAreaContent {
  white-space: pre-wrap;
}
